<div class="row">
    <div class="col-sm-1">
        <img src="images/gravatar.png" alt="avatar">
    </div>
    <div class="col-sm-11">
	{{#link-to "user"}}	<h2>John</h2> {{/link-to}}
		<p>I am what i am</p>
	</div>
</div>
{{yield}}